<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>{% block title %}{% endblock %}</title>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-warning" role="alert">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
</head>
{% set suspension_count = session.get("suspension_count", 0) %}
{% set current_position = session.get("current_position", 0) %}
{% set userid = session.get("user_id", None) %}
{% set badge = session.get("badge", None) %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="\">Diary {{config['BUILD_ENV']}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="\categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\booknotes_index">Booknotes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\articles_index">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\tasks">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\api">API</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">{% block content %}{% endblock %}</div>
<div id="footer">
  {% block footer %}
  {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>