{% extends "base.html" %}
{% block title %}diary index{% endblock %}

{% block content %}
<h3><a href='/tasks/'>tasks</a></h3>
<h3><a href='/categories/'>categories</a></h3>
<h1>Diary Entry: </h1>
<div class="container">
  <ul class="list-group">
    {% for day, status in dates %}
      {% if status == 'draft' %}
        {% set highlight = 'list-group-item-warning' %}
      {% elif status == 'completed' %}
        {% set highlight = 'list-group-item-info' %}
      {% else %}
        {% set highlight = 'list-group-item-light' %}
      {% endif %}
      <li class="list-group-item {{highlight}}"><a href='/forms/diary_entry/{{day}}'>{{day}}</a></li>
    {% endfor%}
  </ul>
</div>
{% endblock %}
