{% extends "base.html" %}
{% block title %}diary index{% endblock %}

{% block content %}
<h1><a href="{{ url_for('index') }}">Diary:</a> {{date}}</h1>
<form action="/api/rawdiary/" method="post">
  <input type="hidden" id="id" name="id" value="{{date}}">
  <div class="form-group">
    <textarea class="form-control" name="rawtext" cols="25" rows="15">{{text}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-sm" name="is_draft" value=0>Submit</button>
    <button type="submit" class="btn btn-primary btn-sm" name="is_draft" value=1>Save Draft</button>
</form>
{% endblock %}
